/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');
@import "simplelightbox/dist/simple-lightbox.min.css";


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #f6f6fe;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.feedback-form {
  width: 360px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  background: #ffffff;
  padding: 24px;
  border-radius: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
 font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
  gap: 8px;
}


.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px 16px;

  border: 1px solid #808080;
  border-radius: 4px;

  font-size: 16px;
}


.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
}


.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
  border-color: #4e75ff;
}


.feedback-form button {
  width: 95px;
  height: 40px;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

  background-color: #4e75ff;
  color: #ffffff;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition: background-color 250ms ease;
}


.feedback-form button:hover {
  background-color: #6c8cff;
}